<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="./asset/style.css" /> 
</head>
<body>
<img src="./asset/Clouds.png" alt="cloud" class="cloud" srcset="">
    <div class="main">
        <h2>CHOOSE A LEVEL TO EXPLORE</h2>
           <form action="/WebApp_Strings/firstlevel" method="post" >
         <button class="btn1" name="choose" id="link">BASIC</button><br><br>
         <button class="btn1" name="choose" id="link">MEDIUM</button><br><br>
         <button class="btn1" name="choose" id="link">ADVANCED</button><br><br>
        </form>
</body>
</html>